<!DOCTYPE html>
<html lang="en" class="bg-black">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>Button Matrix</title>
    <script src="js/client.js"></script>
    <script src="js/tabs.js"></script>
    <script src="js/client-config-manager.js"></script>
    <link rel="stylesheet" href="styles/colors.css">
    <link rel="stylesheet" href="styles/buttons.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/tailwind.css">
    <link rel="stylesheet" href="styles/tabs.css">
</head> 

<body class="bg-black md:touch-none lg:touch-none xl:touch-none md:overflow-hidden">
    <!-- Internal Storage containing all the user-config button stuff -->
    <div id="storage" style="display: none !important;">{{configStorage|safe}}</div>
    <div id="configs" style="display: none !important;">{{configs|safe}}</div>

    <nav class="fixed h-auto top-0 left-0 right-0 w-screen flex">
        <ul class="tab-navigation text-left w-1/2" style="background-color: var(--bg-primary);">
            <li name="tab1"
                class="activeNavigationLink inline-block p-2 px-5 text-center align-middle cursor-pointer text-white">
                Controls
            </li>
            <li name="tab2" class="inline-block p-2 px-5 text-center align-middle cursor-pointer text-white">
                Configurations
            </li>
        </ul>

        <ul style="background-color: var(--bg-primary);" class="text-right w-1/2">
            <li class="inline-block p-2 px-5 text-center align-middle cursor-pointer text-white">
                <button onClick="window.location.reload();">Refresh</button>
            </li>
            <li class="inline-block p-2 px-5 text-center align-middle cursor-pointer text-white">
                <button id="resetServer">Reset Server</button>
            </li>
            <li class="inline-block p-2 px-5 text-center align-middle cursor-pointer text-white">
                <button id="stopServer">Stop Server</button>
            </li>
        </ul>
    </nav>

    <!-- start tab1 -->
    <div class="tab" id="tab1">
        <div class="min-h-screen flex items-start">
            <!-- padding is important so the sliders can reach the max value -->
            <div class="flex-1 p-4 pt-20">
                {{renderedGroups|safe}}
            </div>
        </div>
    </div>
    <!-- end tab1 -->

    <!-- start tab2 -->
    <div class="tab hidden" id="tab2">
        <div class="min-h-screen flex w-full">

            <div class="flex flex-col justify-center w-full" id="configContainer">
                <div class="self-center text-white font-bold text-xl mb-3 w-8/12 ">Available Configurations</div>
            </div>

        </div>
    </div>
    <!-- end tab2 -->

</body>

</html>