<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <meta name="mobile-web-app-capable" content="yes">

        <title>Button Matrix</title>
        <script src="js/main.js"></script>
        <script src="js/button.js"></script>
        <link rel="stylesheet" href="styles/buttons.css">
        <link rel="stylesheet" href="styles/style.css">
    </head>

    <body>
        <!-- Internal Storage containing all the user-config button stuff -->
        <div id="storage" style="display: none !important;">{{configStorage|safe}}</div>

        <div class="min-h-screen flex items-start bg-black">
            <!-- padding is important so the sliders can reach the max value -->
            <div class="flex-1 p-4">

                {{renderedGroups|safe}}

                <h1 class="text-white font-black">Debug</h1>
                <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-6 mt-1 grid-flow-row gap-2">
                    <button onClick="window.location.reload();"
                        class="rounded-lg bg-white h-24 p-2 text-md font-bold font-sans">Refresh</button>
                </div>

            </div>
        </div>


    </body>

</html>