body {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#buttonGridContainer {
  flex: 1;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
  flex-flow: row wrap;
}

.gridButton {
  margin: 5px;
  min-width: 150px;
  min-height: 150px;
}