input[type=range] {
    width: 100%;
    margin: 7.85px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #00ff9e;
    width: 100%;
    height: 100px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    width: 20px !important;
    height: 100px !important;
    background: #ffffff;
    border: 1px solid #000000 !important;
    cursor: pointer;
    -webkit-appearance: none !important;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1affa8;
}

input[type=range]::-moz-range-track {
    background: #00ff9e;
    width: 100%;
    height: 100px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 20px !important;
    height: 100px !important;
    background: #ffffff !important;
    border: 1px solid #000000;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 7.85px 0;
    color: transparent;
    width: 100%;
    height: 100.3px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #00e68e;
    border: 0.1px solid #010101;
}

input[type=range]::-ms-fill-upper {
    background: #00ff9e;
    border: 0.1px solid #010101;
}

input[type=range]::-ms-thumb {
    width: 20 !important;
    height: 100px !important;
    background: #ffffff !important;
    border: 1px solid #000000 !important;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: #00ff9e;
}

input[type=range]:focus::-ms-fill-upper {
    background: #1affa8;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/

@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}

.slider {
    /*
    writing-mode: bt-lr !important;
    -webkit-appearance: slider-vertical !important;
    */
    transform: rotate(-90deg);
    transform-origin: right;
    position: absolute;
    right: 100px;
}

#sliderContainer {
    position: relative;
    min-width: 100px;
    height: 100%;
}