.toggledButton {
    border: 6px solid #39cf45bb !important;
}

.gridButton:active {
    border: 5px solid #1926e0 !important;
    outline:none !important;
}

.gridButton:focus {
    /* Remove the annoying outline for focus elements */
    outline:none !important;
}

.active {
    border: 5px solid #1926e0 !important;
    outline:none !important;
}