.toggledButton {
    border: 6px solid #39cf45bb !important;
}

.gridButton:active {
    border: 5px solid rgb(25, 224, 68) !important;
    outline:none !important;
}

.gridButton:focus {
    /* Remove the annoying outline for focus elements */
    outline:none !important;
}